{% extends 'layout.twig' %}

{% block feature %}
  <div id="feature" class="feature-wrapper">
    {% for post in posts %}
      {% if function('is_front_page') %}
      {% include 'front_banner.twig' %}
      {% else %}
      {% include 'hero_banner.twig' %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block content %}
  {#<img src="https://drive.google.com/uc?id=0B0NjbcI5jSiLY3JOS3hlM2NETEE">#}
  {{ function('the_content') }}
  {{ function('flexible_content', 'group_component') }}
{% endblock %}