{% set facebook_url = facebook_link %}

<div class="block block-facebook-fanpage {{ component_class }}">
  <div class="fb-page" data-href="{{ facebook_url }}" data-tabs="timeline" data-width="380" data-height="342" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
</div>