<div class="col-lg-4 footer-panel-block block-text {{ component_class }}">
{% if footer_text_title %}
<h3 class="block-title">{{ footer_text_title }}</h3>
{% endif %}
{% if footer_text_content %}
<div class="block-content">{{ footer_text_content }}</div>
{% endif %}
</div>