<div class="sidebar-block {{ component_class }}">
{% if header_text_title %}
<h3 class="block-title">{{ header_text_title }}</h3>
{% endif %}
{% if header_text_content %}
<div class="block-content">{{ header_text_content }}</div>
{% endif %}
</div>